body{
    background:linear-gradient(rgb(135, 216, 30), rgb(255, 0, 221)) ;
    }
    
    div{
    text-align: center;
    
    border:inherit 5px ;
    }
    
    button{
    color: rgb(3, 3, 3);
    border: 5px solid;
    background-color: rgb(31, 207, 125);
    padding: 50px;
    width: 500px;
    justify-content: center;
    
    }
    
    .textbut{
    color: rgb(8, 4, 4);
    }
